[tool.poetry]
name = "mosura"
version = "0.1.0"
description = "task management system"

repository = "https://github.com/TheKevJames/mosura"
authors = ["Kevin James <mosura@thekev.in>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.11,<4.0"
fastapi = "0.103.2"
httptools = "0.6.1"
jinja2 = "3.1.2"
jira = "3.5.2"
pydantic = "2.5.0"
pydantic-settings = "2.1.0"
sqlalchemy = { version = "2.0.23", extras = ["aiosqlite"] }
uvicorn = "0.24.0"
uvloop = "0.19.0"

[tool.poetry.group.dev.dependencies]
httpx = "0.25.1"
pytest = "7.4.3"
pytest-asyncio = "0.22.0"
watchgod = "0.8.2"

[[tool.mypy.overrides]]
module = 'uvicorn.*'
ignore_missing_imports = true

[tool.pytest.ini_options]
addopts = "-Werror"
asyncio_mode = "auto"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
