[tool.poetry]
name = "mosura"
version = "0.1.0"
description = "task management system"

repository = "https://github.com/TheKevJames/mosura"
authors = ["Kevin James <KevinJames@thekev.in>"]
license = "MIT"

[tool.poetry.scripts]
devserver = { callable = "mosura.scripts:devserver", extras = ["dev"] }

[tool.poetry.dependencies]
python = ">=3.10,<4.0"
databases = {version = "0.5.5", extras = ["sqlite"]}
fastapi = "0.78.0"
httptools = "0.4.0"
jinja2 = "3.1.2"
jira = "3.2.0"
sqlalchemy = "1.4.36"
uvicorn = "0.17.6"
uvloop = "0.16.0"

[tool.poetry.dev-dependencies]
httpx = "0.23.0"
pytest = "7.1.3"
pytest-asyncio = "0.19.0"
watchgod = "0.8.2"

[[tool.mypy.overrides]]
module = 'uvicorn.*'
ignore_missing_imports = true

[tool.pytest.ini_options]
addopts = "-Werror"
asyncio_mode = "auto"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
