[tool.poetry]
name = "mosura"
version = "0.1.0"
description = "task management system"

repository = "https://github.com/TheKevJames/mosura"
authors = ["Kevin James <mosura@thekev.in>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.11,<4.0"
fastapi = "0.115.4"
httptools = "0.6.4"
jinja2 = "3.1.4"
jira = "3.8.0"
pydantic = "2.9.2"
pydantic-settings = "2.6.0"
sqlalchemy = { version = "2.0.36", extras = ["aiosqlite"] }
uvicorn = "0.32.0"
uvloop = "0.21.0"

[tool.poetry.group.dev.dependencies]
httpx = "0.27.2"
pytest = "8.3.3"
pytest-asyncio = "0.24.0"

[[tool.mypy.overrides]]
module = 'uvicorn.*'
ignore_missing_imports = true

[tool.pytest.ini_options]
addopts = "-Werror"
asyncio_mode = "auto"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
