[tool.poetry]
name = "mosura"
version = "0.1.0"
description = "task management system"

repository = "https://github.com/TheKevJames/mosura"
authors = ["Kevin James <mosura@thekev.in>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.11,<4.0"
databases = {version = "0.7.0", extras = ["aiosqlite"]}
fastapi = "0.101.1"
httptools = "0.6.0"
jinja2 = "3.1.2"
jira = "3.5.2"
pydantic-settings = "2.0.2"
sqlalchemy = "1.4.49"
uvicorn = "0.23.2"
uvloop = "0.17.0"

[tool.poetry.group.dev.dependencies]
httpx = "0.24.1"
pytest = "7.4.0"
pytest-asyncio = "0.21.1"
watchgod = "0.8.2"

[[tool.mypy.overrides]]
module = 'uvicorn.*'
ignore_missing_imports = true

[tool.pytest.ini_options]
addopts = "-Werror"
asyncio_mode = "auto"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
