[tool.poetry]
name = "mosura"
version = "0.1.0"
description = "task management system"

repository = "https://github.com/TheKevJames/mosura"
authors = ["Kevin James <mosura@thekev.in>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.11,<4.0"
fastapi-slim = "0.111.0"
httptools = "0.6.1"
jinja2 = "3.1.4"
jira = "3.8.0"
pydantic = "2.7.3"
pydantic-settings = "2.3.0"
sqlalchemy = { version = "2.0.30", extras = ["aiosqlite"] }
uvicorn = "0.30.1"
uvloop = "0.19.0"

[tool.poetry.group.dev.dependencies]
httpx = "0.27.0"
pytest = "8.2.1"
pytest-asyncio = "0.23.7"

[[tool.mypy.overrides]]
module = 'uvicorn.*'
ignore_missing_imports = true

[tool.pytest.ini_options]
addopts = "-Werror"
asyncio_mode = "auto"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
