[tool.poetry]
name = "mosura"
version = "0.1.0"
description = "task management system"

repository = "https://github.com/TheKevJames/mosura"
authors = ["Kevin James <KevinJames@thekev.in>"]
license = "MIT"

[tool.poetry.scripts]
devserver = { callable = "mosura.scripts:devserver", extras = ["dev"] }

[tool.poetry.dependencies]
python = ">=3.11,<4.0"
databases = {version = "0.6.2", extras = ["aiosqlite"]}
fastapi = "0.88.0"
httptools = "0.5.0"
jinja2 = "3.1.2"
jira = "3.4.1"
sqlalchemy = "1.4.41"
uvicorn = "0.20.0"
uvloop = "0.17.0"

[tool.poetry.dev-dependencies]
httpx = "0.23.1"
pytest = "7.2.0"
pytest-asyncio = "0.20.3"
watchgod = "0.8.2"

[[tool.mypy.overrides]]
module = 'uvicorn.*'
ignore_missing_imports = true

[tool.pytest.ini_options]
addopts = "-Werror"
asyncio_mode = "auto"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
