version: 2.1

orbs:
  linter: thekevjames/linter@2

jobs:
  lint:
    docker:
      - image: elixir:1.10.3
    steps:
      - checkout
      - run: mix format --check-formatted

  test:
    docker:
      - image: elixir:1.10.3
    steps:
      - checkout
      - run: mix local.hex --force
      - run: mix local.rebar --force
      - run: mix deps.get
      - run: mix test

workflows:
  run-jobs:
    jobs:
      - linter/pre-commit
      - lint
      - test
