version: 2.1

orbs:
  docker: talkiq/docker@2
  linter: talkiq/linter@2
  poetry: talkiq/poetry@3

executors:
  python:
    docker:
      - image: python:3.10.4
    environment:
      JIRA_DOMAIN: https://example.com
      JIRA_USERNAME: mosura-ci
      JIRA_TOKEN: NOPE
      JIRA_PROJECT: MOS
    resource_class: small

jobs:
  docker-readme-build:
    docker:
      - image: pandoc/core:2.18.0
    steps:
      - run: apk add --no-cache --no-progress ca-certificates openssl
      - run: mkdir /meta
      - checkout
      - run: pandoc -o/meta/README.md README.rst
      - persist_to_workspace:
          root: /meta
          paths:
            - README.md

  # TODO: this should be doable with curl or python...
  docker-readme-publish:
    docker:
      - image: node:18.3.0-alpine
    steps:
      - run: apk add --no-cache --no-progress ca-certificates openssl
      - checkout
      - run: npm install docker-hub-api
      - attach_workspace:
          at: /meta
      - run: node ./docker-update-readme.js thekevjames mosura /meta/README.md

workflows:
  run-jobs:
    jobs:
      - linter/pre-commit
      - poetry/run: &pytest
          name: pytest
          cmd: pytest
          executor: python
      - docker/publish:
          image: thekevjames/mosura  # TODO: fix orb (force lowercase username)
          pre-steps:
            - setup_remote_docker:
                version: 20.10.6
            - run: echo "$DOCKER_PASS" | docker login --username "$DOCKER_USER" --password-stdin
          requires:
            - linter/pre-commit
            - pytest
      - docker-readme-build:
          requires:
            - linter/pre-commit
            - pytest
      - docker-readme-publish:
          requires:
            - docker/publish
            - docker-readme-build
