.ui.main.container {
  margin-top: 7em; }

/* &#xa; -> linebreak in data-tooltip fields */
[data-tooltip]::after {
  white-space: pre; }

/* set text containers to the same width as non-text containers */
@media only screen and (min-width: 1200px) {
  .ui.text.container {
    max-width: 1127px !important; }
}

/* make "compact" dropdowns more compact */
.ui.compact.dropdown,
.ui.compact.selection.dropdown {
  min-height: 0px; }

.ui.compact.dropdown,
.ui.compact.dropdown .menu > .item,
.ui.compact.dropdown .text,
.ui.compact.selection.dropdown,
.ui.compact.selection.dropdown .menu > .item,
.ui.compact.selection.dropdown .text {
  /* padding: .78571429em 2.1em .78571429em 1em; */
  padding: 0.1em 0em !important; }

/* support "compact" on input fields */
.ui.compact.input {
  /* padding: .67857143em 1em; */
  padding: 0.1em 0em !important; }

.ui.compact.input > input {
  /* padding: .67857143em 1em; */
  padding: 0.1em 0.2em !important; }
