{% extends "base.html" %}
{% block title %}Gannt{% endblock %}
{% block header %}
<script>
function onclick_navigate(e, key) {
  var target = '_self';
  if (e.ctrlKey || e.metaKey) {
    target = '_blank';
  }
  window.open('/issues/' + key, target=target);
};
</script>
{% endblock %}

{% block content %}
<div class="ui main container">
  <h1>{{ schedule.quarter.display }}</h1>

  <table class="ui celled fixed unstackable structured table">
    <!-- TODO: point at current date -->
    <thead>
      <tr>
        <th colspan="1">Name</th>
        {% for span, disabled, header in schedule.quarter.headers %}
        <th colspan="{{ span }}" {% if disabled %}style="color:gray;"{% endif %}>
          {{ header | dateformat }}
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        {% for p in schedule.quarter.pointer() %}
          {% if p %}
          <!-- TODO: should just be 0-padding, but the center aligned didn't work? -->
          <td class="center aligned" style="padding:0 0 0 0.4em;">
            <i class="caret down icon"></i>
          </td>
          {% else %}
          <td></td>
          {% endif %}
        {% endfor %}
      </tr>

      {% for assignee, boxes in schedule.aligned.items() %}
      <tr>
        <td>{{ assignee }}</td>
        <!-- TODO: consider allowing concurrent issues -->
        {% for span, issue in boxes %}
          {% if issue %}
          <td colspan="{{ span }}" title="{{ issue.key}}: {{ issue.summary }}"
            {% if issue.status == "Needs Triage" %}
            class="negative"
            {% elif issue.status in ("In Progress", "Code Review") %}
            class="warning"
            {% elif issue.status == "Closed" %}
            class="positive"
            {% endif %}
          >
            <a href="/issues/{{ issue.key }}">{{ issue.summary }}</a>
          {% else %}
          <td colspan="{{ span }}">
          {% endif %}
          </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- TODO dedupe with other list pages -->
{% if issues %}
<div class="ui divider"></div>

<div class="ui container">
  <table class="ui celled striped unstackable selectable table">
    <thead class="single line">
      <th>Key</th>
      <th>Summary</th>
      <th>Status</th>
      <th>Assignee</th>
      <th>Priority</th>
      <th>Components</th>
      <th>Labels</th>
    </thead>

    <tbody>
    {% for issue in issues %}
      <tr onclick="onclick_navigate(event, '{{ issue.key }}');">
        <td data-label="Key">{{ issue.key }}</td>
        <td data-label="Summary">{{ issue.summary }}</td>
        <td data-label="Status">{{ issue.status }}</td>
        <td data-label="Assignee">{{ issue.assignee }}</td>
        <td data-label="Priority">{{ issue.priority }}</td>
        <td data-label="Components">
        {% for c in issue.components %}
          <p>{{ c.component }}</p>
        {% endfor %}
        </td>
        <td data-label="Labels">
        {% for l in issue.labels %}
          <p>{{ l.label }}</p>
        {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
