{% extends "base.html" %}
{% block title %}Gannt{% endblock %}
{% block header %}
<script>
function onclick_navigate(e, key) {
  var target = '_self';
  if (e.ctrlKey || e.metaKey) {
    target = '_blank';
  }
  window.open('/issues/' + key, target=target);
};
</script>
{% endblock %}

{% block content %}
<div class="ui main container">
  <div>
    <h1>
      <a href="?quarter={{schedule.quarter.display_offset(-1)}}">
        <i class="icon angle left"></i>
      </a>
      {{ schedule.quarter.display }}
      <a href="?quarter={{schedule.quarter.display_offset(1)}}">
        <i class="icon angle right"></i>
      </a>
    </h1>

    <div class="ui icon" data-tooltip="Usage:&#xa;1. Label relevant tickets as {{okr_label}}&#xa;2. Assign owners/start times/time estimations&#xa;3. Resolve conflicts" data-position="top left">
      <i class="question circle icon"></i>
    </div>
  </div>

  <table class="ui celled fixed unstackable structured table">
    <!-- TODO: point at current date -->
    <thead>
      <tr>
        <th colspan="1">Name</th>
        {% for span, disabled, header in schedule.quarter.headers %}
        <th colspan="{{ span }}" {% if disabled %}style="color:gray;"{% endif %}>
          {{ header | dateformat }}
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        {% for p in schedule.quarter.pointer() %}
          {% if p %}
          <!-- TODO: should just be 0-padding, but the center aligned didn't work? -->
          <td class="center aligned" style="padding:0 0 0 0.4em;">
            <i class="caret down icon"></i>
          </td>
          {% else %}
          <td></td>
          {% endif %}
        {% endfor %}
      </tr>

      {% for assignee, boxes in schedule.aligned.items() %}
      <tr>
        <td>{{ assignee }}</td>
        {% for span, issue in boxes %}
          {% if issue %}
          <td colspan="{{ span }}" title="{{ issue.key}}: {{ issue.summary }}" class="ui message
            {% if issue.status == "Closed" %}green
            {% elif issue.status in ("In Progress", "Code Review") %}yellow
            {% elif issue.status == "Needs Triage" %}red
            {% endif %}
          ">
            <a href="/issues/{{ issue.key }}">{{ issue.summary }}</a>
          {% else %}
          <td colspan="{{ span }}">
          {% endif %}
          </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if schedule.unaligned %}
  <div class="ui divider"></div>

  <h3>Unassigned / Incomplete Scheduling Data / Time Conflicts</h3>

  <table class="ui celled fixed unstackable structured table">
    <tbody>
      {% for (start, span, issue) in schedule.unaligned %}
        {% if issue.status != "Closed" %}
        <tr>
          <td>{{ issue.assignee or "Unassigned" }}</td>

          {% for _ in range(start) %}
          <td></td>
          {% endfor %}
          <td colspan="{{ span }}" title="{{ issue.key}}: {{ issue.summary }}" class="ui message
            {% if issue.status == "Closed" %}green
            {% elif issue.status in ("In Progress", "Code Review") %}yellow
            {% elif issue.status == "Needs Triage" %}red
            {% endif %}
          ">
            <a href="/issues/{{ issue.key }}">{{ issue.summary }}</a>
          </td>
          {% for _ in range(schedule.quarter.boxes | list | length - start - span) %}
          <td></td>
          {% endfor %}
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <!-- TODO dedupe with other list pages -->
  {% if issues %}
  <div class="ui divider"></div>

  <h3>All Other {{okr_label}} Issues</h3>

  <div class="ui container">
    <table class="ui celled striped unstackable selectable table">
      <thead class="single line">
        <th>Key</th>
        <th>Summary</th>
        <th>Status</th>
        <th>Assignee</th>
        <th>Priority</th>
        <th>Components</th>
        <th>Labels</th>
      </thead>

      <tbody>
      {% for issue in issues %}
        <tr onclick="onclick_navigate(event, '{{ issue.key }}');">
          <td data-label="Key">{{ issue.key }}</td>
          <td data-label="Summary">{{ issue.summary }}</td>
          <td data-label="Status">{{ issue.status }}</td>
          <td data-label="Assignee">{{ issue.assignee }}</td>
          <td data-label="Priority">{{ issue.priority }}</td>
          <td data-label="Components">
          {% for c in issue.components %}
            <p>{{ c.component }}</p>
          {% endfor %}
          </td>
          <td data-label="Labels">
          {% for l in issue.labels %}
            <p>{{ l.label }}</p>
          {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}
