{% extends "base.html" %}
{% block title %}{{ issue.key }}{% endblock %}
{% block header %}
<!-- https://cdnjs.com/libraries/semantic-ui -->
<link href="{{ url_for('static', path='/semantic-2.5.0.dropdown.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', path='/semantic-2.5.0.dropdown.min.js') }}"></script>
<script>
$(window).on('load', function() {
  $('.ui.dropdown').dropdown();
})

function update_field(field, value) {
  body = JSON.stringify({[field]: value});
  console.log(`PATCHing {{ issue.key}} with ${body}`);

  fetch("/api/v0/issues/{{ issue.key }}", {
    method: "PATCH",
    headers: {
      "Content-Type": "application/json",
    },
    body: body,
  });
}
</script>
{% endblock %}

{% block content %}
<div class="ui main text container">
  <div class="ui celled grid">
    <div class="row">
      <div class="three wide column">
        <p>{{ issue.key }}</p>
      </div>
      <div class="eleven wide column">
        <div class="ui selection inline compact dropdown">
          <input type="hidden" name="priority" onChange="update_field(this.name, this.value);" value="{{ issue.priority.value }}">
          <div class="default text">
            <i class="{{ issue.priority.css_class }}" title="{{ issue.priority.value }} Priority"></i>
          </div>
          <div class="menu">
            <div class="item" data-value="{{ Priority.low }}">
              <i class="{{ Priority.low.css_class }}" title="{{ Priority.low.value }} Priority"></i>
            </div>
            <div class="item" data-value="{{ Priority.medium }}">
              <i class="{{ Priority.medium.css_class }}" title="{{ Priority.medium.value }} Priority"></i>
            </div>
            <div class="item" data-value="{{ Priority.high }}">
              <i class="{{ Priority.high.css_class }}" title="{{ Priority.high.value }} Priority"></i>
            </div>
            <div class="item" data-value="{{ Priority.urgent }}">
              <i class="{{ Priority.urgent.css_class }}" title="{{ Priority.urgent.value }} Priority"></i>
            </div>
          </div>
        </div>
        {{ issue.summary }}
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide column">
        {{ issue.body | safe }}
      </div>
    </div>
    <div class="row">
      <div class="two wide column">
        <p>Status:<br />{{ issue.status }}</p>
      </div>
      <div class="two wide column">
        <p>Assignee:<br />{{ issue.assignee }}</p>
      </div>
      <div class="two wide column">
        <p>Start Date:<br />{{ issue.startdate | dateformat }}</p>
      </div>
      <div class="two wide column">
        <p>Time Estimate:<br />{{ issue.timeestimate | timeformat }}</p>
      </div>
      <div class="four wide column">
        <p>Components:</p>
        <ul>
          {% for c in issue.components %}
          <li>{{ c.component }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="four wide column">
        <p>Labels:</p>
        <ul>
          {% for l in issue.labels %}
          <li>{{ l.label }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="twelve wide column">
        <a href="{{ settings.jira_domain }}/browse/{{ issue.key }}">Edit in Jira</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
