{% extends "base.html" %}
{% block title %}{{ issue.key }}{% endblock %}

{% block content %}
<div class="ui main text container">
  <div class="ui grid">
    <div class="row">
      <div class="two wide column">
        <p>{{ issue.key }}</p>
      </div>
      <div class="twelve wide column">
        <p>
          {% if issue.priority == "Low" %}
          <i class="green angle down icon" title="Low Priority"></i>
          {% elif issue.priority == "Medium" %}
          <i class="yellow minus icon" title="Medium Priority"></i>
          {% elif issue.priority == "High" %}
          <i class="orange angle up icon" title="High Priority"></i>
          {% elif issue.priority == "Urgent" %}
          <i class="red angle double up icon" title="Urgent Priority"></i>
          {% else %}
          <i class="question circle outline icon" title="Unknown Priority"></i>
          {% endif %}
          {{ issue.summary }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide column">
        {{ issue.body | safe }}
      </div>
    </div>
    <div class="row">
      <div class="two wide column">
        <p>Status: {{ issue.status }}</p>
      </div>
      <div class="two wide column">
        <p>Assignee: {{ issue.assignee }}</p>
      </div>
      <div class="two wide column">
        <p>Start Date: {{ issue.startdate | dateformat }}</p>
      </div>
      <div class="two wide column">
        <p>Time Estimate: {{ issue.timeestimate }}</p>
      </div>
      <div class="four wide column">
        <p>Components:</p>
        {% for c in issue.components %}
        <p>{{ c.component }}</p>
        {% endfor %}
      </div>
      <div class="four wide column">
        <p>Labels:</p>
        {% for l in issue.labels %}
        <p>{{ l.label }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="twelve wide column">
        <a href="{{ settings.jira_domain }}/browse/{{ issue.key }}">Edit</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
