{% extends "base.html" %}
{% block title %}Settings{% endblock %}

{% block content %}
<div class="ui main text container">
  <div class="ui segments">
    <div class="ui segment">
      Authenticated to: {{ settings.jira_domain }}
    </div>
    <div class="ui segment">
      Authenticated as: {{ settings.jira_auth_user }}
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      Tracking Jira user: {{ settings.jira_tracked_user }}
    </div>
    <div class="ui segment">
      Optional custom inclusion JQL:
      {% if settings.mosura_custom_jql %}
      <code>{{ settings.mosura_custom_jql }}</code>
      {% else %}
      (disabled)
      {% endif %}
    </div>
    <div class="ui segment">
      Polling interval: {{ settings.mosura_poll_interval }}s
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment">
      Configuring OKRs from label: {{ settings.jira_label_okr }}
    </div>
  </div>
</div>
{% endblock %}
